@import url(product.css);
@import url(metalFilter.css);
@import url(priceFilter.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  #categories-select {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  #categories-select li {
    margin: 0 10px; /* Adjust the margin as per your preference */
  }
  
  #categories-select li a {
    text-decoration: none;
    color:inherit;
  }

  .logo {
    font-size: 24px;
  }
  
  .product-counter {
    padding: 10px;
    text-align: center;
  }
  
  main {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 20px;
  }

  .filtering {
    flex-basis: 250px; 
    padding: 10px;
  }
  
  .sorting {
    padding: 10px;
  }
  
  .category-description {
    text-align: center;
    padding: 20px;
  }
  
  footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    display: inline-block;
    margin-right: 10px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  